.page{
	width:100%;
}
.top-bar{
	height:150px;
	text-align:center;
	border-bottom:#c8d9e0 2px solid;
}
.menu{
	height:45px;
	text-align:center;
	border-bottom:#c8d9e0 2px solid;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
   padding-left:50px;
   width:60%;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:18px;
   color: #000;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #c8d9e0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.active {
  background-color: #04AA6D;
}

.main-area {
	background: #b7dbe2;
	
	}
.left-area{
	
	float: right;
	
	width : 62%;
height:100%;	
background-color: #b7dbe2;
padding:  10px ; 
}


.right-area{
	
	float: right;
	
	width :32%;
border-right:#555555 2px solid;
background-color: #b7dbe2;
padding:  10px ; 	
}

.end-area {
clear:both;	
	height:45px;
	text-align:center;
	border-bottom:#000000 2px solid;	
	background: #000000;
}

.button {
  background-color: #313d45;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.contact-box{
	background:#fff;
	border-radius: 20px ;
	
padding: 10px ;	

width:27%;
float: right;
	margin:	20px ;
	font-size : 20px;
	text-align: center;
}
.news-box{
	background:#fff;
	border-radius: 20px ;
	
padding: 10px ;	

width:45%;
float: right;
	margin:	20px ;
	font-size : 20px;
	text-align: center;
}